:host {
  position: relative;
  display: block;
}

.subtitle {
  margin-top: 4px;
  margin-bottom: 40px;
  font-style: italic;
}

.section-title {
  margin-top: 30px;
  margin-bottom: 5px;
}

.imprint-anchor {
  font-size: 9pt;
}

