:host {
  position: relative;
  display: block;
}

.subtitle {
  margin-top: 4px;
  margin-bottom: 40px;
  font-style: italic;
}

.section-title {
  margin-top: 30px;
  margin-bottom: 5px;
}

.link-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background: url("/assets/link.svg") no-repeat center;
}

.imprint-anchor {
  font-size: 9pt;
}

