<app-layout-title>pixlcrashr</app-layout-title>
<app-layout-subtitle>
  [ˈpɪksəlˈkræʃər], he / him<br/>
  ~vincent <br/>
  fullstack developer
</app-layout-subtitle>

@for (section of menu; track section.title) {
  <app-layout-section>
    <app-layout-section-title>{{ section.title }}</app-layout-section-title>
    <app-layout-menu-list>
      @for (item of section.items; track item.title) {
        <app-layout-menu-list-item>
          @if (item.prefix !== '') {
            {{ item.prefix }}:
          }

          @if (item.href === '') {
            <a>{{ item.title }}</a>
          } @else {
            <a [href]="item.href" target="_blank">{{ item.title }} ↗</a>
          }

          @if (item?.suffix !== undefined) {
            {{ item.suffix }}
          }
        </app-layout-menu-list-item>
      }
    </app-layout-menu-list>
  </app-layout-section>
}

<p><a routerLink="/imprint" class="imprint-anchor">impressum ↗</a></p>
